@using IdentityServer4.Extensions
@model BaseListViewModel<UserViewModel>

@{
    string currentUserId = Context.User.GetSubjectId();
}

<div class="toolbar-row">
    <button class="btn btn-info">
        <a asp-action="Insert"
           asp-controller="User">
            Nova Aplicação +
        </a>
    </button>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Login</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model?.Data)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>
                        <div class="table-actions-buttons">
                            <button class="btn btn-warning">
                                <a asp-action="Update"
                                   asp-controller="User"
                                   asp-route-id="@user.Id">
                                    Atualizar
                                </a>
                            </button>

                            @if (user.Id != currentUserId)
                            {
                                <button class="btn btn-danger">
                                    <a asp-action="Delete"
                                       asp-controller="User"
                                       asp-route-id="@user.Id">
                                        Remover
                                    </a>
                                </button>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>