@using IdentityServer4.Extensions
@model BaseListViewModel<UserViewModel>

@{
    string currentUserId = Context.User.GetSubjectId();
    var roles = IdentityServer.SSO.SelectLists.RolesList.GetItems();
}

<div class="toolbar-row">

    <a class="btn btn-info"
        asp-action="Insert"
        asp-controller="User">
        Novo usuário +
    </a>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Login</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Perfil de usuário</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model?.Data)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@roles.FirstOrDefault(x => x.Value == @user.Role)?.Text</td>
                    <td>
                        <div class="table-actions-buttons">
                            <a class="btn btn-warning"
                                    asp-action="Update"
                                    asp-controller="User"
                                    asp-route-id="@user.Id">
                                Atualizar
                            </a>

                            @if (user.Id != currentUserId)
                            {
                                <a class="btn btn-danger"
                                    asp-action="Delete"
                                    asp-controller="User"
                                    asp-route-id="@user.Id">
                                    Remover
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>