@model BaseListViewModel<ClientViewModel>

<div class="toolbar-row">
    <button class="btn btn-info">
        <a asp-action="Insert"
           asp-controller="Client">
            Nova aplicação +
        </a>
    </button>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Identificador</th>
                <th scope="col">Nome</th>
                <th scope="col">Tipo de autenticação</th>
                <th scope="col">Urls de redirecionamento</th>
                <th scope="col">Tempo da sessão</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model?.Data)
            {
            <tr>
                <td>@client.ClientId</td>
                <td>@client.ClientName</td>
                <td>@client.AllowedGrantTypes</td>
                <td>@client.RedirectUris</td>
                <td>@client.AccessTokenLifetime </td>
                <td>
                    <div class="table-actions-buttons">
                        <button class="btn btn-warning">
                            <a asp-action="Update"
                               asp-controller="Client"
                               asp-route-id="@client.ClientId">
                                Atualizar
                            </a>
                        </button>

                        <button class="btn btn-danger">
                            <a asp-action="Delete"
                               asp-controller="Client"
                               asp-route-id="@client.ClientId">
                                Remover
                            </a>
                        </button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>