@model BaseListViewModel<ClientViewModel>

<div class="toolbar-row">
    <a class="btn btn-info"
            asp-action="Insert"
            asp-controller="Client">
        Nova aplicação +
    </a>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Identificador</th>
                <th scope="col">Nome</th>
                <th scope="col">Tipo de autenticação</th>
                <th scope="col">Urls de redirecionamento</th>
                <th scope="col">Tempo da sessão</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model?.Data)
            {
            <tr>
                <td>@client.ClientId</td>
                <td>@client.ClientName</td>
                <td>@client.AllowedGrantTypes</td>
                <td>@client.RedirectUris</td>
                <td>@client.AccessTokenLifetime </td>
                <td>
                    <div class="table-actions-buttons">
                        <a class="btn btn-warning"
                            asp-action="Update"
                            asp-controller="Client"
                            asp-route-id="@client.ClientId">
                            Atualizar
                        </a>

                        <a class="btn btn-danger"
                            asp-action="Delete"
                            asp-controller="Client"
                            asp-route-id="@client.ClientId">
                            Remover
                        </a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>